/* FONT IMPORT AND CSS RULES */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

/* GENERAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* GLOBAL VARIABLES */
:root {
  --clr-light: #fff;
  --clr-accent: #ce1212;
  --clr-med: #720101;
  --clr-dark: #1b1717;
  --dummy-border: 3px solid blue;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* MOBILE FIRST STYLES */

/* UTILITIES */
.container {
  display: flex;
  flex-direction: column;
}

.col {
  width: 100%;
}

.wrapper {
  max-width: 900px;
  width: 80%;
  margin: auto;
}
/* NAVBAR */

nav {
  border-bottom: 0.2em solid var(--clr-dark);
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enviro-logo {
  /* width: 75px; */
  max-width: 130px;
}

.col__logo {
  width: 40%;
  margin: 0 5px;
}

.col__brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.2;
  width: 60%;
  padding: 0 0.25em;
  text-align: center;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
  padding: 0.75em 0.5em 1.5em 0.5em;
}

.nav__links a {
  text-decoration: none;
  border: var(--clr-accent);
  border-radius: 100px;
  padding: 0.4em 0.6em;
  background: var(--clr-med);
  color: var(--clr-light);
}

/* HERO SECTION */
.hero {
  background: linear-gradient(#00000073, #0000008e),
    url(./img/enviro-hero-xs.jpg);
  background-size: cover;
  background-position: center;
}

.hero__text {
  position: relative;
  padding: 9em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
  text-shadow: 1px 1px var(--clr-accent);
  color: var(--clr-light);
}

.hero__text p {
  color: var(--clr-light);
  text-shadow: 0.5px 0.5px var(--clr-accent);
}

/* ABOUT SECTION */

.about {
  text-align: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 2em 0;
  border-top: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
}

.about h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1em;
  color: var(--clr-light);
  text-shadow: 1px 0.5px var(--clr-med);
}

.about p {
  font-weight: 300;
  line-height: 1.5;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--clr-med);
}

.info__card {
  width: 100%;
  padding: 0.7em;
  border-radius: 7px;
  background-color: var(--clr-dark);
  box-shadow: 0.1px 0.1px 4px var(--clr-accent);
  color: var(--clr-light);
  text-align: center;
  margin: 1em 0 1em 0;
}

.info__card img {
  border-radius: 7px;
}

.card__text {
  padding: 0.7em 0;
  line-height: 1.4;
}

.card__text h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0.3em;
}

.card__text p {
  font-weight: 200;
  font-size: 1.1rem;
}

/* CONTACT */

.contact {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.contact h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px var(--clr-accent);
}

.contact__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact__img {
  width: 33%;
}

.contact__text {
  width: 65%;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin: 3px;
  margin-right: 8px;
}

.contact__box a {
  text-decoration: none;
  color: var(--clr-accent);
}

.contact__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact__links a {
  color: var(--clr-accent);
  font-size: 1.4rem;
  padding: 0.4em 0;
}

.contact__links i {
  margin-right: 0.3em;
}

/* FOOTER SECTION */
footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border-top: 2px solid var(--clr-med);
  padding: 1em 0;
  text-align: center;
}

footer a {
  color: var(--clr-accent);
}

footer a:visited {
  color: var(--clr-accent);
}
