/* FONT IMPORT AND CSS RULES */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

/* GENERAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* GLOBAL VARIABLES */
:root {
  --clr-light: #fff;
  --clr-accent: #ce1212;
  --clr-med: #810000;
  --clr-dark: #1b1717;
  --dummy-border: 3px solid blue;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* MOBILE FIRST STYLES */

/* UTILITIES */
.container {
  display: flex;
  flex-direction: column;
}

.col {
  width: 100%;
}

/* NAVBAR */

nav {
  border-bottom: 0.2em solid var(--clr-dark);
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enviro-logo {
  /* width: 75px; */
  max-width: 130px;
}

.col__logo {
  width: 40%;
  margin: 0 5px;
}

.col__brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.2;
  width: 60%;
  padding: 0 0.25em;
  text-align: center;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
  padding: 0.75em 0.5em 1.5em 0.5em;
}

.nav__links a {
  text-decoration: none;
  border: var(--clr-accent);
  border-radius: 100px;
  padding: 0.4em 0.6em;
  background: var(--clr-med);
  color: var(--clr-light);
}
